<md-toolbar>Contents</md-toolbar>
<md-nav-list>
  <md-list-item *ngFor="let function of functions">
    <a md-line [routerLink]="['./']" fragment="{{function.link}}">{{ function.name }}</a>
  </md-list-item>
</md-nav-list>
<md-toolbar>Functions</md-toolbar>
<md-card *ngFor="let function of functions" [id]="function.link">
  <md-toolbar color="accent">
    <span>{{ function.name }}</span>
  </md-toolbar>
  <md-card-content>
    <p>{{ function.description }}</p>
  </md-card-content>
  <md-card-content highlight-js-content=".highlight">
    <pre>
      <code class="SQL highlight">
        {{ function.code }}
      </code>
    </pre>
  </md-card-content>
</md-card>