mat-toolbar.api-header {
  position: fixed;
  top: 64px;
  padding-left: 276px;
  right: 0;
  z-index: 1;
  text-align: center;
  font-family: monospace;
  button {
    position: fixed;
    right: 16px;
  }
}
.ng-content {
  padding-top: 80px;
  .call-results {
    margin-bottom: 16px;
  }
  mat-spinner {
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}
mat-card p {
  margin: 16px;
  font-size: 14pt;
}
