<mat-card>
  <mat-card-content>
    <p>[1] M. Fang, N. Shivakumar, H. Garcia-Molina, R. Motwani, and J. D. Ullman. Computing iceberg queries e ciently. In VLDB,
      1998.</p>
    <p>[2] L. Findlater and H. J. Hamilton. Iceberg-cube algorithms: An empirical evaluation on synthetic and real data. Intelligent
      Data Analysis, 7(2):77–97, 2003.</p>
    <p>[3] D. E. Ho, K. Imai, G. King, and E. A. Stuart. Matching as nonparametric preprocessing for reducing model dependence
      in parametric causal inference. Political analysis, 15(3):199–236, 2007.</p>
    <p>[4] S. M. Iacus, G. King, and G. Porro. Causal inference without balance checking: Coarsened exact matching. Political
      analysis, page mpr013, 2011.</p>
    <p>[5] S. M. Iacus, G. King, G. Porro, et al. Cem: software for coarsened exact matching. Journal of Statistical Software,
      30(9):1–27, 2009.</p>
    <p>[6] R. O. Obe and L. S. Hsu. PostGIS in action. Manning Publications Co., 2015.</p>
    <p>[7] J. Pearl. Causality: models, reasoning, and inference. Cambridge University Press, 2000.</p>
    <p>[8] J. Pearl. Comment: understanding simpsons paradox. The American Statistician, 68(1):8–13, 2014.</p>
    <p>[9] P. R. Rosenbaum. Observational studies. Springer, 2002.</p>
    <p>[10] P. R. Rosenbaum and D. B. Rubin. The central role of the propensity score in observational studies for causal effects.
      Biometrika, 70(1):pp. 41–55, 1983.</p>
    <p>[11] D. B. Rubin. Causal inference using potential outcomes. Journal of the American Statistical Association, 100(469):322–331,
      2005.</p>
  </mat-card-content>
</mat-card>