<mat-card class="fathers">
  <mat-toolbar color="accent">The Fathers of Causal Inference</mat-toolbar>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="avatar">
        <a href="https://en.wikipedia.org/wiki/Al-Ghazali" target="_blank">
          <mat-card-header>
            <img mat-card-avatar src="assets/ghazali.png">
            <mat-card-title>
              Abū al-Ghazālī
            </mat-card-title>
          </mat-card-header>
        </a>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="avatar">
        <a href="https://en.wikipedia.org/wiki/Al-Ghazali" target="_blank">
          <mat-card-header>
            <img mat-card-avatar src="assets/hume.png">
            <mat-card-title>
              David Hume
            </mat-card-title>
          </mat-card-header>
        </a>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="avatar">
        <a href="https://en.wikipedia.org/wiki/Al-Ghazali" target="_blank">
          <mat-card-header>
            <img mat-card-avatar src="assets/lewis.png">
            <mat-card-title>
              David Lewis
            </mat-card-title>
          </mat-card-header>
        </a>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="avatar">
        <a href="https://en.wikipedia.org/wiki/Al-Ghazali" target="_blank">
          <mat-card-header>
            <img mat-card-avatar src="assets/fisher.png">
            <mat-card-title>
              Ronald Fisher
            </mat-card-title>
          </mat-card-header>
        </a>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="avatar">
        <a href="https://en.wikipedia.org/wiki/Al-Ghazali" target="_blank">
          <mat-card-header>
            <img mat-card-avatar src="assets/neyman.png">
            <mat-card-title>
              Jerzy Neyman
            </mat-card-title>
          </mat-card-header>
        </a>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="avatar">
        <a href="https://en.wikipedia.org/wiki/Al-Ghazali" target="_blank">
          <mat-card-header>
            <img mat-card-avatar src="assets/rubin.png">
            <mat-card-title>
              Donald Rubin
            </mat-card-title>
          </mat-card-header>
        </a>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="avatar">
        <a href="https://en.wikipedia.org/wiki/Al-Ghazali" target="_blank">
          <mat-card-header>
            <img mat-card-avatar src="assets/pearl.png">
            <mat-card-title>
              Judea Pearl
            </mat-card-title>
          </mat-card-header>
        </a>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<mat-card class="content">
  <mat-card-title>
    ZaliQL Abstract
  </mat-card-title>
  <mat-card-content>
    <p>
      Causal inference from observational data is a subject of active research and development in statistics and computer science.
      Many statistical software packages have been developed for this purpose. However, these toolkits do not scale to large
      datasets. We propose and demonstrate ZaliQL: a SQL-based framework for drawing causal inference from observational
      data. ZaliQL supports the state-of-the-art meth- ods for causal inference and runs at scale within PostgreSQL database
      system. In addition, we built a visual interface to wrap around ZaliQL. In our demonstration, we will use this GUI
      to show a live investigation of the causal effect of different weather conditions on flight delays.
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <a href="https://github.com/coreycole/zaliql" target="_blank">
      <button mat-raised-button color="accent">See Demo Code</button>
    </a>
    <a href="https://drive.google.com/file/d/0B5MQIp52G7ohc0NSSEl0V19yclk/view?usp=sharing" target="_blank">
      <button mat-raised-button color="accent">Read Demo Paper</button>
    </a>
    <!-- <a routerLink="/demo-home">
      <button mat-raised-button color="accent">Explore Live Demo</button>
    </a> -->
  </mat-card-actions>
</mat-card>

<mat-card class="content">
  <mat-card-title>
    ZaliQL Authors and Contributors
  </mat-card-title>
  <mat-list>
    <mat-list-item *ngFor="let author of authors" (click)="mailTo(author.email)">
      <i class="material-icons" mat-list-icon>done</i>
      <h4 mat-line>{{ author.name }}</h4>
      <span mat-line>{{ author.email }}</span>
    </mat-list-item>
  </mat-list>
</mat-card>
