mat-card.avatar {
  margin-top: 32px;
  width: 100%;
  height: 100%;
}

mat-card.figure {
  width: 100%;
  height: 100%;
  margin: 8px;
}

mat-card.content, mat-card.fathers {
  margin: 8px;
}

mat-card.fathers {
  padding: 0px;
}

mat-card-actions a {
  margin-left: 6px;
}
