<!-- combo chart example here: https://github.com/swimlane/ngx-charts/blob/master/demo/combo-chart/combo-chart.component.ts -->

<p>qq plot in progress</p>

<!-- <ngx-charts-chart>
  <svg:g [attr.transform]="transform" class="line-chart chart">
    <svg:g>
      <svg:g ngx-charts-line-series
        [xScale]="xScaleLine"
        [yScale]="xScaleLine"
        [colors]="colorsLine"
        [data]="line45"
        [scaleType]="'linear'"
        [curve]="line45curve"
      /> -->
      <!-- <svg:g ngx-charts-bubble-series
        [xScale]="qqxScaleLine"
        [yScale]="qqxScaleLine"
        [colors]="colorsLine"
        [data]="bubbleData"
      /> -->
    <!-- </svg:g>
  </svg:g>
</ngx-charts-chart> -->
