<mat-toolbar>Contents</mat-toolbar>
<mat-nav-list>
  <mat-list-item *ngFor="let function of functions">
    <a mat-line [routerLink]="['./']" fragment="{{function.link}}">{{ function.name }}</a>
  </mat-list-item>
</mat-nav-list>
<mat-toolbar>Functions</mat-toolbar>
<mat-card *ngFor="let function of functions" [id]="function.link">
  <mat-toolbar color="accent">
    <span>{{ function.name }}</span>
  </mat-toolbar>
  <mat-card-content>
    <p>{{ function.description }}</p>
  </mat-card-content>
  <mat-card-content highlight-js-content=".highlight">
    <pre>
      <code class="SQL highlight">
        {{ function.code }}
      </code>
    </pre>
  </mat-card-content>
</mat-card>